In [ ]:
import os

os.listdir(r"C:\Users\Pavan Kumar\Downloads\archive (1)")

['Cleaned_HR_Data_Analysis.csv', 'data.csv']

In [2]:
import pandas as pd
df=pd.read_csv("C:\\Users\\Pavan Kumar\\Downloads\\archive (1)\\data.csv")
df.head()

,Employee ID,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,...,Satisfaction Score,Work-Life Balance Score,Training Date,Training Program Name,Training Type,Training Outcome,Location,Trainer,Training Duration(Days),Training Cost
0,3427,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,...,2,3,15-Jul-23,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11
1,3428,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,...,1,5,12-Sep-22,Customer Service,External,Incomplete,Tammieville,Kelly Patterson DDS,4,673.02
2,3429,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,...,2,1,13-Aug-22,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28
3,3430,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,...,5,4,15-Dec-22,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78
4,3431,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,...,5,3,13-Jul-23,Technical Skills,External,Failed,Lake Meganville,Donald Martinez,5,399.03

In [ ]:
df=df.drop_duplicates()
df

In [3]:
df.columns = df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_') 
df.columns

Index(['employee_id', 'startdate', 'exitdate', 'title', 'supervisor',
       'ademail', 'businessunit', 'employeestatus', 'employeetype', 'payzone',
       'employeeclassificationtype', 'terminationtype',
       'terminationdescription', 'departmenttype', 'division', 'dob', 'state',
       'jobfunctiondescription', 'gendercode', 'locationcode', 'racedesc',
       'maritaldesc', 'performance_score', 'current_employee_rating',
       'employee_id.1', 'survey_date', 'engagement_score',
       'satisfaction_score', 'work-life_balance_score', 'training_date',
       'training_program_name', 'training_type', 'training_outcome',
       'location', 'trainer', 'training_duration(days)', 'training_cost'],
      dtype='object')

In [7]:
df = df.rename(columns={
    'businessunit': 'business_unit',
    'employeestatus': 'employee_status',
    'employeetype': 'employee_type',
    'payzone': 'pay_zone',
    'employeeclassificationtype': 'employee_classification_type',
    'terminationtype': 'termination_type',
    'terminationdescription': 'termination_description',
    'departmenttype': 'department_type',
    'jobfunctiondescription': 'jobfunction_description',
    'gendercode': 'gender_code',
    'locationcode': 'location_code',
    'maritaldesc': 'marital_desc'         

})

In [8]:
df = df.rename(columns={
    'training_duration(days)': 'training_duration_days'
})

In [9]:
df = df.rename(columns={
    'racedesc': 'race_desc'
})

In [10]:
df

,employee_id,startdate,exitdate,title,supervisor,ademail,business_unit,employee_status,employee_type,pay_zone,...,satisfaction_score,work-life_balance_score,training_date,training_program_name,training_type,training_outcome,location,trainer,training_duration_days,training_cost
0,3427,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,...,2,3,15-Jul-23,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11
1,3428,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,...,1,5,12-Sep-22,Customer Service,External,Incomplete,Tammieville,Kelly Patterson DDS,4,673.02
2,3429,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,...,2,1,13-Aug-22,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28
3,3430,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,...,5,4,15-Dec-22,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78
4,3431,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,...,5,3,13-Jul-23,Technical Skills,External,Failed,Lake Meganville,Donald Martinez,5,399.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3422,22-Jun-22,07-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,Part-Time,Zone C,...,1,3,13-Mar-23,Communication Skills,Internal,Failed,Alyssaview,Paul Davis,1,707.96
2996,3423,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,Part-Time,Zone A,...,5,3,14-Oct-22,Technical Skills,External,Completed,Kramerbury,David Matthews,1,439.65
2997,3424,09-Dec-20,04-Aug-22,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Voluntarily Terminated,Contract,Zone B,...,4,5,18-Aug-22,Project Management,Internal,Completed,Lozanoburgh,Julie Bell,5,981.13
2998,3425,28-May-19,23-Oct-21,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Voluntarily Terminated,Contract,Zone B,...,2,3,19-May-23,Technical Skills,External,Completed,Hughesburgh,Paige Figueroa,3,184.27
2999,3426,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,Full-Time,Zone B,...,3,2,02-May-23,Leadership Development,Internal,Failed,North Joshuatown,Joel Brooks,5,675.37

In [15]:
df = df.rename(columns={
    'ademail': 'email_id'
})

In [16]:
df

,employee_id,startdate,exitdate,title,supervisor,email,business_unit,employee_status,employee_type,pay_zone,...,satisfaction_score,work-life_balance_score,training_date,training_program_name,training_type,training_outcome,location,trainer,training_duration_days,training_cost
0,3427,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,...,2,3,15-Jul-23,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11
1,3428,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,...,1,5,12-Sep-22,Customer Service,External,Incomplete,Tammieville,Kelly Patterson DDS,4,673.02
2,3429,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,...,2,1,13-Aug-22,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28
3,3430,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,...,5,4,15-Dec-22,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78
4,3431,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,...,5,3,13-Jul-23,Technical Skills,External,Failed,Lake Meganville,Donald Martinez,5,399.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3422,22-Jun-22,07-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,Part-Time,Zone C,...,1,3,13-Mar-23,Communication Skills,Internal,Failed,Alyssaview,Paul Davis,1,707.96
2996,3423,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,Part-Time,Zone A,...,5,3,14-Oct-22,Technical Skills,External,Completed,Kramerbury,David Matthews,1,439.65
2997,3424,09-Dec-20,04-Aug-22,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Voluntarily Terminated,Contract,Zone B,...,4,5,18-Aug-22,Project Management,Internal,Completed,Lozanoburgh,Julie Bell,5,981.13
2998,3425,28-May-19,23-Oct-21,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Voluntarily Terminated,Contract,Zone B,...,2,3,19-May-23,Technical Skills,External,Completed,Hughesburgh,Paige Figueroa,3,184.27
2999,3426,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,Full-Time,Zone B,...,3,2,02-May-23,Leadership Development,Internal,Failed,North Joshuatown,Joel Brooks,5,675.37

In [17]:
df.columns

Index(['employee_id', 'startdate', 'exitdate', 'title', 'supervisor', 'email',
       'business_unit', 'employee_status', 'employee_type', 'pay_zone',
       'employee_classification_type', 'termination_type',
       'termination_description', 'department_type', 'division', 'dob',
       'state', 'jobfunction_description', 'gender_code', 'location_code',
       'race_desc', 'marital_desc', 'performance_score',
       'current_employee_rating', 'employee_id.1', 'survey_date',
       'engagement_score', 'satisfaction_score', 'work-life_balance_score',
       'training_date', 'training_program_name', 'training_type',
       'training_outcome', 'location', 'trainer', 'training_duration_days',
       'training_cost'],
      dtype='object')

In [18]:
df = df.drop(columns=['employee_id.1'])
df

,employee_id,startdate,exitdate,title,supervisor,email,business_unit,employee_status,employee_type,pay_zone,...,satisfaction_score,work-life_balance_score,training_date,training_program_name,training_type,training_outcome,location,trainer,training_duration_days,training_cost
0,3427,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,...,2,3,15-Jul-23,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11
1,3428,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,...,1,5,12-Sep-22,Customer Service,External,Incomplete,Tammieville,Kelly Patterson DDS,4,673.02
2,3429,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,...,2,1,13-Aug-22,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28
3,3430,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,...,5,4,15-Dec-22,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78
4,3431,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,...,5,3,13-Jul-23,Technical Skills,External,Failed,Lake Meganville,Donald Martinez,5,399.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3422,22-Jun-22,07-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,Part-Time,Zone C,...,1,3,13-Mar-23,Communication Skills,Internal,Failed,Alyssaview,Paul Davis,1,707.96
2996,3423,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,Part-Time,Zone A,...,5,3,14-Oct-22,Technical Skills,External,Completed,Kramerbury,David Matthews,1,439.65
2997,3424,09-Dec-20,04-Aug-22,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Voluntarily Terminated,Contract,Zone B,...,4,5,18-Aug-22,Project Management,Internal,Completed,Lozanoburgh,Julie Bell,5,981.13
2998,3425,28-May-19,23-Oct-21,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Voluntarily Terminated,Contract,Zone B,...,2,3,19-May-23,Technical Skills,External,Completed,Hughesburgh,Paige Figueroa,3,184.27
2999,3426,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,Full-Time,Zone B,...,3,2,02-May-23,Leadership Development,Internal,Failed,North Joshuatown,Joel Brooks,5,675.37

In [19]:
df.columns

Index(['employee_id', 'startdate', 'exitdate', 'title', 'supervisor', 'email',
       'business_unit', 'employee_status', 'employee_type', 'pay_zone',
       'employee_classification_type', 'termination_type',
       'termination_description', 'department_type', 'division', 'dob',
       'state', 'jobfunction_description', 'gender_code', 'location_code',
       'race_desc', 'marital_desc', 'performance_score',
       'current_employee_rating', 'survey_date', 'engagement_score',
       'satisfaction_score', 'work-life_balance_score', 'training_date',
       'training_program_name', 'training_type', 'training_outcome',
       'location', 'trainer', 'training_duration_days', 'training_cost'],
      dtype='object')

In [20]:
df.columns
import pandas as pd
df['dob']=pd.to_datetime(df['dob'],errors='coerce')
df['age']=(pd.Timestamp.today()-df['dob']).dt.days//365

df

,employee_id,startdate,exitdate,title,supervisor,email,business_unit,employee_status,employee_type,pay_zone,...,work-life_balance_score,training_date,training_program_name,training_type,training_outcome,location,trainer,training_duration_days,training_cost,age
0,3427,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,...,3,15-Jul-23,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11,56.0
1,3428,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,...,5,12-Sep-22,Customer Service,External,Incomplete,Tammieville,Kelly Patterson DDS,4,673.02,NaN
2,3429,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,...,1,13-Aug-22,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28,34.0
3,3430,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,...,4,15-Dec-22,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78,27.0
4,3431,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,...,3,13-Jul-23,Technical Skills,External,Failed,Lake Meganville,Donald Martinez,5,399.03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3422,22-Jun-22,07-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,Part-Time,Zone C,...,3,13-Mar-23,Communication Skills,Internal,Failed,Alyssaview,Paul Davis,1,707.96,NaN
2996,3423,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,Part-Time,Zone A,...,3,14-Oct-22,Technical Skills,External,Completed,Kramerbury,David Matthews,1,439.65,24.0
2997,3424,09-Dec-20,04-Aug-22,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Voluntarily Terminated,Contract,Zone B,...,5,18-Aug-22,Project Management,Internal,Completed,Lozanoburgh,Julie Bell,5,981.13,NaN
2998,3425,28-May-19,23-Oct-21,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Voluntarily Terminated,Contract,Zone B,...,3,19-May-23,Technical Skills,External,Completed,Hughesburgh,Paige Figueroa,3,184.27,NaN
2999,3426,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,Full-Time,Zone B,...,2,02-May-23,Leadership Development,Internal,Failed,North Joshuatown,Joel Brooks,5,675.37,35.0

In [21]:
df
print(df.dtypes)

employee_id                              int64
startdate                               object
exitdate                                object
title                                   object
supervisor                              object
email                                   object
business_unit                           object
employee_status                         object
employee_type                           object
pay_zone                                object
employee_classification_type            object
termination_type                        object
termination_description                 object
department_type                         object
division                                object
dob                             datetime64[ns]
state                                   object
jobfunction_description                 object
gender_code                             object
location_code                            int64
race_desc                               object
marital_desc                            object
performance_score                       object
current_employee_rating                  int64
survey_date                             object
engagement_score                         int64
satisfaction_score                       int64
work-life_balance_score                  int64
training_date                           object
training_program_name                   object
training_type                           object
training_outcome                        object
location                                object
trainer                                 object
training_duration_days                   int64
training_cost                          float64
age                                    float64
dtype: object

In [22]:
df[['dob','age']].head(10)

         dob   age
0 1969-07-10  56.0
1        NaT   NaN
2 1991-06-10  34.0
3 1998-04-04  27.0
4        NaT   NaN
5 1949-03-04  76.0
6 1942-01-07  84.0
7 1957-07-03  68.0
8        NaT   NaN
9 1949-11-11  76.0

In [23]:
df['dob'].isna().sum()

np.int64(1823)

In [24]:
df=df.dropna(subset=['dob'])
df

,employee_id,startdate,exitdate,title,supervisor,email,business_unit,employee_status,employee_type,pay_zone,...,work-life_balance_score,training_date,training_program_name,training_type,training_outcome,location,trainer,training_duration_days,training_cost,age
0,3427,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,...,3,15-Jul-23,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11,56.0
2,3429,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,...,1,13-Aug-22,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28,34.0
3,3430,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,...,4,15-Dec-22,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78,27.0
5,3432,17-Jan-20,NaN,Area Sales Manager,Sheri Campos,maruk.fraval@bilearner.com,BPC,Active,Contract,Zone B,...,5,18-Apr-23,Project Management,Internal,Passed,Kingchester,Holly Sloan,2,820.33,76.0
6,3433,06-Apr-22,03-Jul-23,Area Sales Manager,Jacob Braun,latia.costa@bilearner.com,WBL,Active,Full-Time,Zone B,...,2,06-Aug-22,Customer Service,External,Passed,Lancehaven,David Stewart,5,295.08,84.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2992,3419,14-Oct-19,NaN,Production Technician I,Miss Sandra Mckinney,stanley.reyes@bilearner.com,MSC,Active,Contract,Zone C,...,2,18-May-23,Project Management,External,Passed,South Davidfort,Joan Reeves,3,999.72,73.0
2993,3420,10-Oct-20,05-Aug-22,Production Technician I,Lynn Smith,levi.hayden@bilearner.com,NEL,Active,Contract,Zone A,...,3,15-Dec-22,Project Management,External,Passed,North Christophermouth,Jeremy Andrews,2,489.02,81.0
2994,3421,09-May-22,08-Sep-22,Production Technician I,Donna Lawson,brenden.leach@bilearner.com,PL,Active,Part-Time,Zone A,...,2,22-Jan-23,Customer Service,External,Passed,Greeneside,Martin Ross,1,786.71,66.0
2996,3423,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,Part-Time,Zone A,...,3,14-Oct-22,Technical Skills,External,Completed,Kramerbury,David Matthews,1,439.65,24.0
2999,3426,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,Full-Time,Zone B,...,2,02-May-23,Leadership Development,Internal,Failed,North Joshuatown,Joel Brooks,5,675.37,35.0

In [27]:
df.loc[:,'age']=df['age'].fillna(df['age'].median())
df.loc[:,'age_missing']=df['age'].isna().astype(int)
df=df.drop_duplicates(subset=['dob'])

In [26]:
df[['dob','age']].head(10)

          dob   age
0  1969-07-10  56.0
2  1991-06-10  34.0
3  1998-04-04  27.0
5  1949-03-04  76.0
6  1942-01-07  84.0
7  1957-07-03  68.0
9  1949-11-11  76.0
11 1948-06-04  77.0
13 1951-06-11  74.0
16 1994-08-04  31.0

In [28]:
df=df.drop(columns=['age_missing'])
df

,employee_id,startdate,exitdate,title,supervisor,email,business_unit,employee_status,employee_type,pay_zone,...,work-life_balance_score,training_date,training_program_name,training_type,training_outcome,location,trainer,training_duration_days,training_cost,age
0,3427,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,...,3,15-Jul-23,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11,56.0
2,3429,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,...,1,13-Aug-22,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28,34.0
3,3430,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,...,4,15-Dec-22,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78,27.0
5,3432,17-Jan-20,NaN,Area Sales Manager,Sheri Campos,maruk.fraval@bilearner.com,BPC,Active,Contract,Zone B,...,5,18-Apr-23,Project Management,Internal,Passed,Kingchester,Holly Sloan,2,820.33,76.0
6,3433,06-Apr-22,03-Jul-23,Area Sales Manager,Jacob Braun,latia.costa@bilearner.com,WBL,Active,Full-Time,Zone B,...,2,06-Aug-22,Customer Service,External,Passed,Lancehaven,David Stewart,5,295.08,84.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987,3414,03-Jun-22,NaN,Production Technician I,Brandi Clark,hunter.silva@bilearner.com,MSC,Active,Contract,Zone C,...,4,23-Jul-23,Project Management,External,Incomplete,East Adam,Eric Vaughn,2,616.09,27.0
2992,3419,14-Oct-19,NaN,Production Technician I,Miss Sandra Mckinney,stanley.reyes@bilearner.com,MSC,Active,Contract,Zone C,...,2,18-May-23,Project Management,External,Passed,South Davidfort,Joan Reeves,3,999.72,73.0
2993,3420,10-Oct-20,05-Aug-22,Production Technician I,Lynn Smith,levi.hayden@bilearner.com,NEL,Active,Contract,Zone A,...,3,15-Dec-22,Project Management,External,Passed,North Christophermouth,Jeremy Andrews,2,489.02,81.0
2996,3423,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,Part-Time,Zone A,...,3,14-Oct-22,Technical Skills,External,Completed,Kramerbury,David Matthews,1,439.65,24.0
2999,3426,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,Full-Time,Zone B,...,2,02-May-23,Leadership Development,Internal,Failed,North Joshuatown,Joel Brooks,5,675.37,35.0

In [30]:
df=df.copy()

In [31]:
df['startdate']=pd.to_datetime(df['startdate'],errors='coerce')
df['exitdate']=pd.to_datetime(df['exitdate'],errors='coerce')
exit_filled=df['exitdate'].fillna(pd.Timestamp.today())

In [32]:
tenure_years=(exit_filled-df['startdate']).dt.days/365
df['tenure_group']=pd.cut(tenure_years,bins=[0,1,3,5,10,50],labels=['0-1','1-3','3-5','5-10','10+'])
df[['startdate','exitdate','tenure_group']].head(10)
df

,employee_id,startdate,exitdate,title,supervisor,email,business_unit,employee_status,employee_type,pay_zone,...,training_date,training_program_name,training_type,training_outcome,location,trainer,training_duration_days,training_cost,age,tenure_group
0,3427,2019-09-20,NaT,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,...,15-Jul-23,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11,56.0,5-10
2,3429,2018-12-10,NaT,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,...,13-Aug-22,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28,34.0,5-10
3,3430,2021-06-21,NaT,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,...,15-Dec-22,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78,27.0,3-5
5,3432,2020-01-17,NaT,Area Sales Manager,Sheri Campos,maruk.fraval@bilearner.com,BPC,Active,Contract,Zone B,...,18-Apr-23,Project Management,Internal,Passed,Kingchester,Holly Sloan,2,820.33,76.0,5-10
6,3433,2022-04-06,2023-07-03,Area Sales Manager,Jacob Braun,latia.costa@bilearner.com,WBL,Active,Full-Time,Zone B,...,06-Aug-22,Customer Service,External,Passed,Lancehaven,David Stewart,5,295.08,84.0,1-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987,3414,2022-06-03,NaT,Production Technician I,Brandi Clark,hunter.silva@bilearner.com,MSC,Active,Contract,Zone C,...,23-Jul-23,Project Management,External,Incomplete,East Adam,Eric Vaughn,2,616.09,27.0,3-5
2992,3419,2019-10-14,NaT,Production Technician I,Miss Sandra Mckinney,stanley.reyes@bilearner.com,MSC,Active,Contract,Zone C,...,18-May-23,Project Management,External,Passed,South Davidfort,Joan Reeves,3,999.72,73.0,5-10
2993,3420,2020-10-10,2022-08-05,Production Technician I,Lynn Smith,levi.hayden@bilearner.com,NEL,Active,Contract,Zone A,...,15-Dec-22,Project Management,External,Passed,North Christophermouth,Jeremy Andrews,2,489.02,81.0,1-3
2996,3423,2020-12-28,NaT,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,Part-Time,Zone A,...,14-Oct-22,Technical Skills,External,Completed,Kramerbury,David Matthews,1,439.65,24.0,5-10
2999,3426,2022-04-27,NaT,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,Full-Time,Zone B,...,02-May-23,Leadership Development,Internal,Failed,North Joshuatown,Joel Brooks,5,675.37,35.0,3-5

In [35]:
df['exitdate'] = pd.to_datetime(df['exitdate'], format='%d-%b-%y', errors='coerce')
df['attrition'] = df['exitdate'].notna().astype(int)

In [37]:
df[['exitdate', 'attrition']].head(10)

     exitdate  attrition
0         NaT          0
2         NaT          0
3         NaT          0
5         NaT          0
6  2023-07-03          1
7  2023-01-29          1
9  2023-06-29          1
11 2019-11-04          1
13 2023-02-17          1
16 2023-05-12          1

In [38]:
df

,employee_id,startdate,exitdate,title,supervisor,email,business_unit,employee_status,employee_type,pay_zone,...,training_program_name,training_type,training_outcome,location,trainer,training_duration_days,training_cost,age,tenure_group,attrition
0,3427,2019-09-20,NaT,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,...,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11,56.0,5-10,0
2,3429,2018-12-10,NaT,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,...,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28,34.0,5-10,0
3,3430,2021-06-21,NaT,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,...,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78,27.0,3-5,0
5,3432,2020-01-17,NaT,Area Sales Manager,Sheri Campos,maruk.fraval@bilearner.com,BPC,Active,Contract,Zone B,...,Project Management,Internal,Passed,Kingchester,Holly Sloan,2,820.33,76.0,5-10,0
6,3433,2022-04-06,2023-07-03,Area Sales Manager,Jacob Braun,latia.costa@bilearner.com,WBL,Active,Full-Time,Zone B,...,Customer Service,External,Passed,Lancehaven,David Stewart,5,295.08,84.0,1-3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987,3414,2022-06-03,NaT,Production Technician I,Brandi Clark,hunter.silva@bilearner.com,MSC,Active,Contract,Zone C,...,Project Management,External,Incomplete,East Adam,Eric Vaughn,2,616.09,27.0,3-5,0
2992,3419,2019-10-14,NaT,Production Technician I,Miss Sandra Mckinney,stanley.reyes@bilearner.com,MSC,Active,Contract,Zone C,...,Project Management,External,Passed,South Davidfort,Joan Reeves,3,999.72,73.0,5-10,0
2993,3420,2020-10-10,2022-08-05,Production Technician I,Lynn Smith,levi.hayden@bilearner.com,NEL,Active,Contract,Zone A,...,Project Management,External,Passed,North Christophermouth,Jeremy Andrews,2,489.02,81.0,1-3,1
2996,3423,2020-12-28,NaT,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,Part-Time,Zone A,...,Technical Skills,External,Completed,Kramerbury,David Matthews,1,439.65,24.0,5-10,0
2999,3426,2022-04-27,NaT,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,Full-Time,Zone B,...,Leadership Development,Internal,Failed,North Joshuatown,Joel Brooks,5,675.37,35.0,3-5,0

In [39]:
df['performance_level'] = df['performance_score'].map({
    'Exceeds': 'High',
    'Fully Meets': 'Medium',
    'Needs Improvement': 'Low',
    'PIP': 'Low'
})

In [40]:
df['performance_level'] = df['performance_level'].fillna('Unknown')

In [41]:
df[['performance_score', 'performance_level']].head()

  performance_score performance_level
0       Fully Meets            Medium
2       Fully Meets            Medium
3       Fully Meets            Medium
5       Fully Meets            Medium
6           Exceeds              High

In [42]:
df

,employee_id,startdate,exitdate,title,supervisor,email,business_unit,employee_status,employee_type,pay_zone,...,training_type,training_outcome,location,trainer,training_duration_days,training_cost,age,tenure_group,attrition,performance_level
0,3427,2019-09-20,NaT,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,...,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11,56.0,5-10,0,Medium
2,3429,2018-12-10,NaT,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,...,External,Failed,East Roberthaven,Taylor Thomas,2,413.28,34.0,5-10,0,Medium
3,3430,2021-06-21,NaT,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,...,External,Completed,Garzatown,Holly Elliott,3,663.78,27.0,3-5,0,Medium
5,3432,2020-01-17,NaT,Area Sales Manager,Sheri Campos,maruk.fraval@bilearner.com,BPC,Active,Contract,Zone B,...,Internal,Passed,Kingchester,Holly Sloan,2,820.33,76.0,5-10,0,Medium
6,3433,2022-04-06,2023-07-03,Area Sales Manager,Jacob Braun,latia.costa@bilearner.com,WBL,Active,Full-Time,Zone B,...,External,Passed,Lancehaven,David Stewart,5,295.08,84.0,1-3,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987,3414,2022-06-03,NaT,Production Technician I,Brandi Clark,hunter.silva@bilearner.com,MSC,Active,Contract,Zone C,...,External,Incomplete,East Adam,Eric Vaughn,2,616.09,27.0,3-5,0,High
2992,3419,2019-10-14,NaT,Production Technician I,Miss Sandra Mckinney,stanley.reyes@bilearner.com,MSC,Active,Contract,Zone C,...,External,Passed,South Davidfort,Joan Reeves,3,999.72,73.0,5-10,0,Medium
2993,3420,2020-10-10,2022-08-05,Production Technician I,Lynn Smith,levi.hayden@bilearner.com,NEL,Active,Contract,Zone A,...,External,Passed,North Christophermouth,Jeremy Andrews,2,489.02,81.0,1-3,1,Medium
2996,3423,2020-12-28,NaT,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,Part-Time,Zone A,...,External,Completed,Kramerbury,David Matthews,1,439.65,24.0,5-10,0,Medium
2999,3426,2022-04-27,NaT,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,Full-Time,Zone B,...,Internal,Failed,North Joshuatown,Joel Brooks,5,675.37,35.0,3-5,0,Medium

In [43]:
df.columns

Index(['employee_id', 'startdate', 'exitdate', 'title', 'supervisor', 'email',
       'business_unit', 'employee_status', 'employee_type', 'pay_zone',
       'employee_classification_type', 'termination_type',
       'termination_description', 'department_type', 'division', 'dob',
       'state', 'jobfunction_description', 'gender_code', 'location_code',
       'race_desc', 'marital_desc', 'performance_score',
       'current_employee_rating', 'survey_date', 'engagement_score',
       'satisfaction_score', 'work-life_balance_score', 'training_date',
       'training_program_name', 'training_type', 'training_outcome',
       'location', 'trainer', 'training_duration_days', 'training_cost', 'age',
       'tenure_group', 'attrition', 'performance_level'],
      dtype='object')

In [45]:
pip install psycopg2-binary sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in c:\users\pavan kumar\appdata\roaming\python\python313\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from sqlalchemy import create_engine
username = "postgres"
password = "your_password"
host = "localhost"
port = "5432"
database = "hr_data"
engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}/{database}")
table_name = "hr_data"
df.to_sql(table_name,engine, if_exists="replace",index=False)
print(f"Data successfully loaded into table'{table_name}' in database '{database}'.")

Data successfully loaded into table'hr_data' in database 'hr_data'.